<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/assets/EpicLogo-9fede858.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>InstaTonne</title>
    <script type="module" crossorigin src="/assets/index-65a9885c.js"></script>
    <link rel="stylesheet" href="/assets/index-048d1fa4.css">
  </head>
  <body>
    <div id="app" style="width: 80vw; height: 100em"></div>
    
  </body>
</html>
